#titleScreen {
  display: none;
}

#gameScreen {
  display: none;
}

#shopPanel {
  display: none;
}

#upgradeShopPanel {
  display: none;
}

#statsPanel {
  display: none;
}

#achievementsScreen {
  display: none;
}

#debugInputScreen {
  display: none;
}

#debugScreen {
  display: none;
}

#settingsScreen {
  display: none;
}

#loadingScreen {
  display: none;
}

body {
  text-align: center;
  font-weight: 100;
}

h1#ns {
  font-size: 20px;
}

a#ns {
  font-size: 18px;
  color: black;
}

a#ns:hover {
  -webkit-text-stroke: 0.2px;
  -webkit-text-stroke-color: black;
  text-decoration-thickness: 2px;
}
