#titleScreen,
#gameScreen,
#shopPanel,
#upgradeShopPanel,
#statsPanel,
#achievementsScreen,
#debugInputScreen,
#debugScreen,
#settingsScreen,
#loadingScreen {
  display: none;
}

body {
  text-align: center;
  font-weight: 100;
}

h1#nojs {
  font-size: 20px;
}

a#nojs {
  font-size: 18px;
  color: black;
}

a#nojs:hover {
  -webkit-text-stroke: 0.2px;
  -webkit-text-stroke-color: black;
  text-decoration-thickness: 2px;
}
