/*
 Todo: make elements properly centered
*/

/* Imports */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url("./keyframes.css");

/* Courier font face (Not all systems have this, so it is defined here.) */

@font-face {
  font-family: 'CourierReg';
  src: url('Courier.woff');
}

body {
  background: no-repeat fixed;
  background-image: radial-gradient(rgb(250, 224, 65), rgb(249, 160, 40));
  background-position: cover;
  background-size: 100%;
  font-family: CourierReg;
  font-size: 1vw;
  overflow: hidden;
}

a {
  color: black;
}

::-webkit-scrollbar {
  display: none;
}

/* Classes */

/* General + Multi-class */

.buttons,
.statStrings,
.label,
.shopInfoString,
.shopButtons {
  border: solid black 0.05vw;
}

.shopStrings,
.upgradeShopStrings,
.statStrings {
  text-align: center;
  cursor: default;
}

.buttons:not(#coin, #wipesavebutton, .bgelement, #fortheworthy, #breakpoint, #cheater):hover,
.shopbuttons:not(#cursorimg, #supercursorimg, #godfingerimg, #employeeimg):hover {
  box-shadow: 0.05vw 0.05vw 0.2px black, -0.05vw -0.05vw 0.2px black;
}

.buttons,
.titleScreenClicker {
  background: transparent no-repeat center;
  background-size: 90%;
  font-family: CourierReg;
  font-size: 1.1vw;
  cursor: pointer;
}

.fixed {
  position: fixed;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.backgroundElement {
  z-index: -1;
}

.err {
  position: fixed;
  font-size: "0.7vw";
  color: white;
  background-color: black;
  font-family: 'Liberation Mono', 'Monospace', monospace;
}

/* Title screen */

.coins {
  height: 9.5vw;
  width: 9.5vw;
  top: 40vh;
  left: 44.8vw;
  animation: coinOpacity 2.5s forwards;
}

.titleStrings {
  font-weight: 100;
  animation: titleStringsMove 1s ease-out forwards;
}

.bottomStrings {
  top: 100.5vh;
  animation: bottomStringsMove 1s ease-out forwards;
}

/* Game screen */

.borders {
  top: -0.1vh;
  height: 100vh;
  width: 0.05vw;
  display: none;
}

/* Shop panel */

.shopButtons {
  background: transparent no-repeat center;
  background-size: 90%;
  transition: width 0.3s, height 0.3s;
  height: 3vw;
  width: 3vw;
  left: 7.6vw;
  cursor: pointer;
}

.shopButtons:hover {
  height: 3.2vw;
  width: 3.2vw;
}

.shopStrings {
  font-size: 0.9vw;
  left: 10.8vw;
}

.shopHover:hover {
  height: 3.2vw;
  width: 3.2vw;
}

.shopHover:active {
  height: 3vw;
  width: 3vw;
}

/* Upgrade shop panel */

.upgradeShopStrings {
  font-size: 0.9vw;
  left: 10.8vw;
}

/* Stats panel */

.statStrings {
  position: relative;
  width: 28vw;
  left: 70vw;
}

/* Achievements panel */

.achievements.buttons {
  background: transparent no-repeat center;
  background-size: 90%;
  height: 3vw;
  width: 3vw;
}

.achievements.icons {
  font-size: 2.2vw;
  vertical-align: middle;
  line-height: 3vw;
  height: 3.1vw;
  width: 3.1vw;
}

/* Settings panel */

.input {
  border: solid 0.05vw black;
  background: transparent;
  font-family: inherit;
  font-size: 1.2vw;
  height: 1vw;
  width: 10vw;
}

/* IDs and pseudoclasses */

/* Multi-ID */

#saveButtonHoverContainer .hover-trigger:hover+.hover-target,
#achievementsButtonHoverContainer .hover-trigger:hover+.hover-target,
#settingsButtonHoverContainer .hover-trigger:hover+.hover-target,
#clickerHoverContainer .hover-trigger:hover+.hover-target,
#superClickerHoverContainer .hover-trigger:hover+.hover-target,
#doublePointerHoverContainer .hover-trigger:hover+.hover-target {
  display: block;
}

#forTheWorthy:hover,
#breakpoint:hover {
  box-shadow: 0.05vw 0.05vw 0.2px lightgreen, -0.05vw -0.05vw 0.2px lightgreen;
}

#wipeSaveButton:hover,
#cheater:hover {
  box-shadow: 0.05vw 0.05vw 0.2px red, -0.05vw -0.05vw 0.2px red;
}

#upgradeButton,
#shopReturnButton {
  height: 3vw;
  width: 10vw;
  top: 90vh;
  left: 9vw;
}

/* Loading screen */

#loadString {
  font-weight: 100;
}

/* Title screen */

#bg {
  height: 2vw;
  width: 2vw;
  top: -4vh;
  opacity: 40%;
  z-index: -1;
  animation: backgroundMove 4s linear forwards;
}

#skipIntroString {
  top: -0.1vh;
  left: 35.3vw;
  animation: coinOpacity 2.5s forwards;
}

#basedOnBuildString {
  top: 102.5vh;
  left: 86.5vw;
}

#runningBrowserString {
  left: 31vw;
  width: 37vw;
}

#title {
  font-size: 3.5vw;
  width: 10vw;
  top: -42vh;
  left: 42.2vw;
}

#betaString {
  font-size: 2.5vw;
  top: -26.5vh;
  left: 44.2vw;
}

#updateString {
  font-size: 1.5vw;
  width: 37vw;
  height: 37vw;
  top: -19.5vh;
  left: 31.2vw;
}

#startButton {
  height: 3vw;
  width: 10vw;
  top: 100vh;
  left: 45vw;
  animation: startButtonMove 1.5s ease-out forwards;
}

#titleScreencCicker {
  background-image: url('../img/shop/clicker.png');
  opacity: 0%;
  height: 4vw;
  width: 4vw;
  top: -35.2vh;
  left: 48.1vw;
  animation: titleStringssMove 1.5s forwards, titleScreenClickerMove 1.5s 1s forwards;
  cursor: default;
}

#sourceNote {
  font-size: 0.9vw;
}

#key {
  font-size: 1vw;
  top: 2vh;
}

/* Game screen elements */

#coin {
  background-image: url('../img/coin.png');
  border: none;
  width: 14vw;
  height: 14vw;
  top: 13vw;
  left: 42.5vw;
  transition: all 0.2s;
}

#coin:hover {
  background-size: 100%;
}

#coin:active {
  background-size: 80%;
}

#coinParticle {
  background-image: url('../img/coin.png');
  border: none;
  height: 2.5vw;
  width: 2.5vw;
  pointer-events: none;
}

#clickString {
  width: 37vw;
  top: 26.7vw;
  left: 31vw;
  cursor: default;
}

#cpsString {
  width: 37vw;
  top: 28.3vw;
  left: 31vw;
  cursor: default;
}

#clickValueString {
  width: 37vw;
  top: 30vw;
  left: 31vw;
  cursor: default;
}

#saveButton {
  height: 3vw;
  width: 10vw;
  top: 0.5vw;
  left: 44.5vw;
}

#savingString {
  width: 37vw;
  top: 2.6vw;
  left: 31vw;
}

#saveInfo {
  width: 37vw;
  top: 3vw;
  left: 30.4vw;
  font-size: 0.8vw;
}

#unlockString {
  width: 37vw;
  top: 39vw;
  left: 30.5vw;
}

#buffLabel {
  width: 37vw;
  top: 35vw;
  left: 31vw;
}

#borders {
  top: -0.1vw;
}

#leftBorder {
  left: 29vw;
}

#rightBorder {
  left: 69.5vw;
}

#achievementsLabel {
  width: 7.7vw;
}

#achievementsButton {
  height: 3vw;
  width: 3vw;
  top: 0.5vw;
  left: 30vw;
}

#achievementsButtonIcon {
  height: 3.2vw;
  width: 3.2vw;
  top: 0.5vw;
  left: 29.9vw;
}

#settingsLabel {
  width: 6.8vw;
}

#settingsButton {
  background-image: url('../img/settings/settings.png');
  height: 3vw;
  width: 3vw;
  top: 0.5vw;
  left: 65.7vw;
}

#fpsLabel {
  display: none;
  top: -0.5vw;
}

/* Shop panel elements */

#shopIcon {
  height: 3.5vw;
  width: 3.5vw;
  top: 1.28vw;
  left: 8.3vw;
}

#shopString {
  font-size: 2.5vw;
  top: -0.5vw;
  left: 12.5vw;
}

#autoBuyString {
  width: 15vw;
  font-size: 0.8vw;
  top: 4vw;
  left: 6vw;
}

#clickerInfo {
  font-size: 0.8vw;
  width: 13.5vw;
}

#clickerImage {
  background-image: url('../img/shop/clicker.png');
  border: none;
  top: 7vw;
}

#clickerBuy {
  background-image: url('../img/shop/clicker.png');
  top: 7vw;
}

#clickerString {
  top: 5vw;
  left: 7.2vw;
}

#clickerCpsString {
  top: 6.2vw;
}

#clickerCostString {
  top: 7.2vw;
}

#clickersOwnedString {
  top: 8.2vw;
}

#superClickerInfo {
  font-size: 0.8vw;
  width: 13.5vw;
}

#superClickerImage {
  background-image: url('../img/shop/superclicker.png');
  border: none;
  top: 12vw;
  animation: superClickerMove 2s forwards;
}

#superClickerBuy {
  background-image: url('../img/shop/superclicker.png');
  top: 12vw;
}

#superClickerString {
  top: 10vw;
  left: 5.6vw;
}

#superClickerCpsString {
  top: 11.2vw;
}

#superClickerCostString {
  top: 12.2vw;
}

#superClickersOwnedString {
  top: 13.2vw;
}

#doublePointerInfo {
  font-size: 0.8vw;
  width: 13.5vw;
}

#doublePointerImage {
  background-image: url('../img/shop/doublepointer.png');
  border: none;
  top: 17vw;
  animation: doublePointerMove 2s forwards;
}

#doublePointerBuy {
  background-image: url('../img/shop/doublepointer.png');
  top: 17vw;
}

#doublePointerString {
  top: 15vw;
  left: 5.5vw;
}

#doublePointerCpsString {
  top: 16.2vw;
}

#doublePointerCostString {
  top: 17.2vw;
}

#doublePointersOwnedString {
  top: 18.2vw;
}

/* Upgrade shop panel elements */

#upgradeShopIcon {
  height: 3.5vw;
  width: 3.5vw;
  top: 1.28vw;
  left: 5.8vw;
}

#upgradeString {
  font-size: 2.5vw;
  top: -0.5vw;
  left: 10vw;
}

#cursorImage {
  background-image: url('../img/shop/cursor.png');
  border: none;
  top: 7vw;
  animation: cursorMove 2s ease-out forwards;
  cursor: default;
}

#cursorBuy {
  background-image: url('../img/shop/cursor.png');
  top: 7vw;
  display: block;
}

#cursorString {
  top: 5vw;
  left: 7.55vw;
}

#cursorCpsString {
  top: 6.2vw;
}

#cursorCostString {
  top: 7.2vw;
}

#cursorOwnedString {
  top: 8.2vw;
}

#superCursorImage {
  background-image: url('../img/shop/supercursor.png');
  border: none;
  top: 12vw;
  animation: superCursorMove 2s forwards;
  cursor: default;
}

#superCursorBuy {
  background-image: url('../img/shop/supercursor.png');
  top: 12vw;
}

#superCursorString {
  top: 10vw;
  left: 6vw;
}

#superCursorCpsString {
  top: 11.2vw;
}

#superCursorCostString {
  top: 12.2vw;
}

#superCursorOwnedString {
  top: 13.2vw;
}

#employeeImage {
  background-image: url('../img/shop/employee.png');
  border: none;
  top: 17vw;
  animation: employeeMove 2s forwards;
  cursor: default;
}

#employeeBuy {
  background-image: url('../img/shop/employee.png');
  top: 17vw;
}

#employeeString {
  top: 15vw;
  left: 7vw;
}

#employeeCpsString {
  top: 16.2vw;
}

#employeeCostString {
  top: 17.2vw;
}

#employeesOwnedString {
  top: 18.2vw;
}

#godFingerImage {
  background-image: url('../img/shop/godfinger.png');
  border: none;
  top: 22vw;
  animation: godFingerMove 2s forwards;
  cursor: default;
}

#godFingerBuy {
  background-image: url('../img/shop/godfinger.png');
  top: 22vw;
}

#godFingerString {
  top: 20vw;
  left: 6.6vw;
}

#godFingerPerkString {
  top: 21.2vw;
}

#godFingerCostString {
  top: 22.2vw;
}

#godFingerOwnedString {
  top: 23.2vw;
}

#clickerFusionInfo {
  font-size: 0.8vw;
  width: 13.5vw;
}

#clickerFusionImage {
  background-image: url('../img/shop/clicker.png');
  border: none;
  top: 27vw;
  animation: clickerFusionMove 2s forwards;
}

#clickerFusionBuy {
  background-image: url('../img/shop/clicker.png');
  top: 27vw;
}

#clickerFusionString {
  top: 25vw;
  left: 5.5vw;
}

#clickerFusionPerkString {
  top: 26.2vw;
}

#clickerFusionCostString {
  top: 27.2vw;
}

#clickerFusionOwnedString {
  top: 28.2vw;
}

/* Stats panel elements */
#statsString {
  font-size: 2.5vw;
  width: 7.5vw;
  top: -0.5vw;
  left: 82vw;
}

#statsIcon {
  height: 3.5vw;
  width: 3.5vw;
  top: 1.28vw;
  left: 78vw;
}

#timeString {
  top: 5.5vw;
}

#lifetimeClicksString {
  top: 6vw;
}

#lifetimeManualClicksString {
  top: 6.5vw;
}

#coinClickCountString {
  top: 7vw;
}

#totalClickHelpersString {
  top: 7.5vw;
}

#achievementsUnlockedString {
  top: 8vw;
}

#rawCpsString {
  top: 8.5vw;
}

#rawClickValueString {
  top: 9vw;
}

#offlineCpsString {
  top: 9.5vw;
}

/* Debug screen elements */

#debugScreenLabel {
  font-weight: 100;
  font-size: 2.4vw;
  top: 15vw;
  left: 41.5vw;
}

#debugInputField {
  background: transparent;
}


#debugConsole {
  border: solid 0.05vw black;
  background: transparent;
  font-family: inherit;
  overflow: scroll;
  height: 30vw;
  width: 36vw;
  top: 1vw;
  left: 31vw;
}

#debugCommandInput {
  border: solid 0.05vw black;
  background: transparent;
  font-family: inherit;
  overflow: scroll;
  height: 1.5vw;
  width: 36vw;
  top: 31.8vw;
  left: 31vw;
}

/* Achievements screen element */

#achievementsHeader {
  font-weight: 100;
  font-size: 2vw;
  top: 0vw;
  left: 42.5vw;
}

#achievementNameString {
  width: 18vw;
  top: 4vw;
  left: 40.5vw;
}

#achievementDescriptionString {
  width: 36vw;
  top: 6vw;
  left: 31.5vw;
}

#achievementUnlockedString {
  width: 36vw;
  top: 9.5vw;
  left: 31.5vw;
}

#journeyBegins {
  background-image: url('../img/achievements/thousandachievements.png');
  top: 13vw;
  left: 31.5vw;
}

#aGoodStart {
  background-image: url('../img/achievements/thousandachievements.png');
  top: 13vw;
  left: 34.5vw;
}

#gettingThere {
  background-image: url('../img/achievements/thousandachievements.png');
  top: 13vw;
  left: 37.5vw;
}

#millionare {
  background-image: url('../img/achievements/millionachievements.png');
  top: 13vw;
  left: 40.5vw;
}

#coinPool {
  background-image: url('../img/achievements/millionachievements.png');
  top: 13vw;
  left: 43.5vw;
}

#abundance {
  background-image: url('../img/achievements/millionachievements.png');
  top: 13vw;
  left: 46.5vw;
}

#billionare {
  background-image: url('../img/achievements/billionachievements.png');
  top: 13vw;
  left: 49.5vw;
}

#excess {
  background-image: url('../img/achievements/billionachievements.png');
  top: 13vw;
  left: 52.5vw;
}

#planetOfClicks {
  background-image: url('../img/achievements/billionachievements.png');
  top: 13vw;
  left: 55.5vw;
}

#trillionare {
  background-image: url('../img/achievements/trillionachievements.png');
  top: 13vw;
  left: 58.5vw;
}

#pocketDimension {
  background-image: url('../img/achievements/trillionachievements.png');
  top: 13vw;
  left: 61.5vw;
}

#farTooMany {
  background-image: url('../img/achievements/trillionachievements.png');
  top: 13vw;
  left: 64.5vw;
}

#quadrillionare {
  background-image: url('../img/achievements/quadrillionachievements.png');
  top: 16vw;
  left: 31.5vw;
}

#coinVortex {
  background-image: url('../img/achievements/quadrillionachievements.png');
  top: 16vw;
  left: 34.5vw;
}

#coinShapedBlackHole {
  background-image: url('../img/achievements/quadrillionachievements.png');
  top: 16vw;
  left: 37.5vw;
}

#quintillionare {
  background-image: url('../img/achievements/quintillionachievements.png');
  top: 16vw;
  left: 40.5vw;
}

#clickBeyond {
  background-image: url('../img/achievements/quintillionachievements.png');
  top: 16vw;
  left: 43.5vw;
}

#distantBeginning {
  background-image: url('../img/achievements/quintillionachievements.png');
  top: 16vw;
  left: 46.5vw;
}

#sextillionare {
  background-image: url('../img/achievements/sextillionachievements.png');
  top: 16vw;
  left: 49.5vw;
}

#numberOverflow {
  background-image: url('../img/achievements/sextillionachievements.png');
  top: 16vw;
  left: 52.5vw;
}

#coinUniverse {
  background-image: url('../img/achievements/sextillionachievements.png');
  top: 16vw;
  left: 55.5vw;
}

#septillionare {
  background-image: url('../img/achievements/septillionachievements.png');
  top: 16vw;
  left: 58.5vw;
}

#why {
  background-image: url('../img/achievements/septillionachievements.png');
  top: 16vw;
  left: 61.5vw;
}

#twentyFingers {
  background-image: url('../img/achievements/septillionachievements.png');
  top: 16vw;
  left: 64.5vw;
}

#forTheWorthy {
  top: 19vw;
  left: 48vw;
}

#forTheWorthyIcon {
  top: 19vw;
  left: 48vw;
}

#breakpoint {
  top: 25vw;
  left: 48vw;
}

#breakpointIcon {
  top: 25vw;
  left: 48vw;
}

#cheater {
  top: 22vw;
  left: 48vw;
}

#cheaterIcon {
  top: 22vw;
  left: 48vw;
}

#backToGame {
  height: 3vw;
  width: 10vw;
  top: 90vh;
  left: 44.5vw;
}

#settingsHeader {
  font-weight: 100;
  font-size: 2.5vw;
  top: 0vw;
  left: 43.5vw;
}

#volumeInput {
  border: solid 0.05vw black;
  background: transparent;
  font-family: inherit;
  font-size: 1.2vw;
  height: 1vw;
  width: 7vw;
  top: 10.5vh;
  left: 56vw;
}

#volumeString {
  font-size: 0.9vw;
  top: 8.9vh;
  left: 35vw;
}

#autoBuySettingString {
  font-size: 0.9vw;
  position: fixed;
  top: 12.2vh;
  left: 39vw;
}

#autoBuySetting {
  height: 1.5vw;
  width: 5vw;
  top: 13.4vh;
  left: 54vw;
}

#graphicsSetting {
  height: 2vw;
  width: 9vw;
  top: 17vh;
  left: 53vw;
}

#graphicsSettingString {
  font-size: 0.9vw;
  top: 16.3vh;
  left: 35vw;
}

#backgroundGradientCenterInput {
  top: 22vh;
  left: 56.3vw;
}

#backgroundGradientCenterString {
  font-size: 0.9vw;
  top: 20.5vh;
  left: 31.5vw;
}

#backgroundGradientEdgeInput {
  top: 26vh;
  left: 55.7vw;
}

#backgroundGradientEdgeString {
  font-size: 0.9vw;
  top: 24.5vh;
  left: 31.8vw;
}

#wipeSaveButton {
  border: solid 0.05vw red;
  color: red;
  height: 3vw;
  width: 10vw;
  top: 83vh;
  left: 44vw;
}

#resetBackgroundButton {
  height: 3vw;
  width: 10vw;
  top: 76vh;
  left: 44vw;
}

#backToGameSettings {
  height: 3vw;
  width: 10vw;
  top: 90vh;
  left: 44vw;
}
