@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Courier%20Prime');

body {
  background: no-repeat fixed;
  background-image: radial-gradient(rgb(250, 224, 65), rgb(249, 160, 40));
  background-position: cover;
  background-size: 100%;
  font-family: 'Courier Prime';
  font-size: 1vw;
  overflow: hidden;
  user-select: none;
}

a {
  color: black;
}

button:not(#startButton) {
  transition: transform 0.1s;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(1.0);
}

textarea {
  resize: none;
}

.buttons,
.statStrings,
.label,
.shopInfoStrings,
.shopButtons {
  border: solid black 0.05vw;
}

.shopStrings,
.upgradeShopStrings,
.statStrings {
  text-align: center;
  cursor: default;
}

.buttons:not(.backgroundElements,
  #coin,
  #wipeSaveButton,
  #forTheWorthy,
  #breakpoint,
  #cheater):hover,
.shopButtons:hover {
  box-shadow: 0.05vw 0.05vw 0.01vw black, -0.05vw -0.05vw 0.01vw black;
}

.buttons {
  background: transparent no-repeat center;
  background-size: 90%;
  font-family: inherit;
  font-size: 1.1vw;
  cursor: pointer;
}

.hidden {
  display: none;
}

#achievementsButtonHoverContainer .hover-trigger:hover+.hover-target,
#settingsButtonHoverContainer .hover-trigger:hover+.hover-target {
  display: block;
}

#wipeSaveButton:hover {
  box-shadow: 0.05vw 0.05vw 0.2px red, -0.05vw -0.05vw 0.2px red;
}

/* Debug screen elements */

#debugScreenContainer,
#debugScreenFlexContainer {
  width: 50%;
  left: 25vw;
  height: 100%;
  top: -1.5vw;
  position: absolute;
}

#debugScreenFlexContainer {
  justify-content: center;
  align-items: center;
}

#debugScreenGridContainer {
  display: grid;
  place-items: center;
}

#debugOutputBox,
#debugCommandInput {
  border: solid 0.05vw black;
  background: transparent;
  font-family: inherit;
  overflow: scroll;
}

#debugOutputBox {
  height: 40vw;
  width: 40vw;
}

#debugCommandInput {
  height: 1.5vw;
  width: 40vw;
}
